.tabs-content {
  /* Positioning */
  position: relative;

  /* Display & Box Model */
  flex: 1;
  height: var(--tabs-content-height, 100%);
  overflow: hidden;

  &-swiper {
    /* Positioning */
    position: relative;

    /* Display & Box Model */
    height: var(--tabs-content-swiper-height, 100%);
    width: 100%;

    &--transitioning {
      /* Misc */
      pointer-events: none;
    }
  }

  &-panel {
    /* Positioning */
    position: absolute;
    top: 0;
    left: 0;

    /* Display & Box Model */
    height: 100%;
    width: 100%;
    overflow: auto;

    /* Animation */
    transition: opacity 0.3s ease-in-out;

    &--active {
      /* Positioning */
      position: relative;

      /* Display & Box Model */
      display: block;
    }

    &--animated {
      /* Animation */
      transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    }

    &[hidden] {
      /* Display & Box Model */
      display: none;
    }
  }

  &-wrapper {
    /* Display & Box Model */
    height: 100%;
  }
}
