.banner {
    /* Display & Box Model */
    width: 100%;
    height: 400px;

    &-slide {
        /* Positioning */
        position: relative;

        /* Display & Box Model */
        width: 100%;
        height: 100%;

        &-image {
            /* Display & Box Model */
            width: 100%;
            height: 100%;

            /* Visual */
            object-fit: cover;
        }

        &-content {
            /* Positioning */
            position: absolute;
            bottom: 0;
            left: 0;

            /* Display & Box Model */
            width: 100%;
            padding: 30px;

            /* Visual */
            background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
        }

        &-title {
            /* Display & Box Model */
            margin: 0 0 10px 0;

            /* Typography */
            font-size: 32px;
            font-weight: 700;
            color: #fff;
        }

        &-description {
            /* Display & Box Model */
            margin: 0;

            /* Typography */
            font-size: 16px;
            color: rgba(255, 255, 255, 0.9);
        }
    }
}