// Socket.IO Test Page Styles
@use '@/styles/placeholders'as *;
@use '@/styles/mixin'as *;

.socket_io_page {
    @extend %test_page;
}

.controls {
    @extend %flex;
    @extend %flex_gap_16;
    @extend %flex_center;

    /* Display & Box Model */
    margin-bottom: 16px;
}

.message_form {
    @extend %flex;
    @extend %flex_gap_16;
}

.message_list {
    @extend %message_list;

    &_item {
        @extend %message_list_item;
    }

    &_content {
        @extend %message_list_content;
    }
}