@keyframes loaded_fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes skeleton_after_animation {
  0% {
    transform: scale(4) translate(-100%, -100%);
  }
  50% {
    transform: scale(4) translate(0, 0);
  }
  100% {
    transform: scale(4) translate(100%, 100%);
  }
}

.skeleton_loader {
  &[css-fadein='true'] {
    animation: loaded_fadein 0.5s ease-in-out;
  }

  &-loading {
    position: relative;

    height: 100%;
    width: 100%;
    // aspect-ratio: 1;
    // border-radius: 1rem;

    overflow: hidden;
    // background-color: #dcdcdc;
    background: repeating-linear-gradient(126deg, #ededed, #dcdcdc, #ededed);

    &:after {
      content: '';

      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;

      display: block;
      width: 100%;
      height: 100%;

      border-radius: 100%;

      background: repeating-linear-gradient(
        126deg,
        #ededed 30%,
        #dcdcdc 50%,
        #ededed 70%
      );

      animation: skeleton_after_animation 2.5s infinite linear;
    }
  }
}
