// WebRTC Main Page Styles (Only for /web-rtc index page)
@use '@/styles/placeholders' as *;

.web_rtc_page {
  &-description {
    margin-bottom: 16px;
  }

  &-banner {
    width: 100%;
    margin-bottom: 16px;
  }

  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    &-link {
      flex: 1;
      flex-basis: 200px;
      min-width: 200px;
    }
  }
}
