// SSE Room Get Page Styles
@use '@/styles/placeholders'as *;
@use '@/styles/mixin'as *;

.sse_room_get_page {
    @extend %test_page;

    &-controls {
        @extend %flex;
        @extend %flex_gap_16;
        @extend %flex_center;

        /* Display & Box Model */
        margin-bottom: 16px;
    }

    &-room_info {
        @extend %flex;
        @extend %flex_between;
        @extend %flex_center;
        @extend %flex_wrap;

        /* Display & Box Model */
        margin-bottom: 16px;
    }

    &-message_list {
        @extend %message_list;

        &_item {
            @extend %message_list_item;
        }
    }
}