.switch_button {
    /* Positioning */
    position: relative;

    /* Display & Box Model */
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 18px;
    border-radius: var(--switch_button_radius, 999px);
    overflow: hidden;

    /* Typography */
    color: var(--switch_button_color, #000);

    /* Visual */
    background-color: var(--switch_button_bg_color, #e0e0e0);
    opacity: var(--switch_button_opacity, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1) inset;

    /* Misc */
    cursor: pointer;

    /* Animation */
    transition:
        color 0.2s,
        background-color 0.2s,
        opacity 0.2s;

    &-check {
        /* Positioning */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        /* Display & Box Model */
        width: 100%;
        height: 100%;

        /* Visual */
        opacity: 0;

        /* Misc */
        cursor: var(--switch_button_cursor, pointer);
    }

    &-icon {
        /* Positioning */
        position: absolute;
        top: 8px;
        right: var(--switch_button_icon_right);
        bottom: 8px;
        left: var(--switch_button_icon_left, calc(100% - 39px));

        /* Display & Box Model */
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        aspect-ratio: 1 / 1;
        border-radius: 100%;

        /* Visual */
        background-color: #fff;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

        /* Animation */
        transition:
            left 0.2s,
            right 0.2s;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }

    &-label {
        /* Display & Box Model */
        padding-right: var(--switch_button_label_padding_right, 0);
        padding-left: var(--switch_button_label_padding_left, 0);

        /* Animation */
        transition: padding 0.2s;

        p {
            margin: 0;
        }
    }
}