.swiper_js {
  position: relative;
  &-prev {
    position: absolute;
    left: 5px;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      color: #fff;
      background-color: #008cff;
    }
  }
  &-next {
    @extend .swiper_js-prev;
    left: unset;
    right: 5px;
    &-btn {
      @extend .swiper_js-prev-btn;
    }
  }

  &-content {
    // height: 100%;
    height: var(--content_wrapper_slide_height);

    &-wrapper {
      // height: 100%;
      height: var(--content_wrapper_slide_height);

      &-slide {
        // height: 100%;
        // overflow-y: auto;
        // overflow-x: hidden;
        display: var(--slide_display);
        flex-direction: var(--slide_flex_direction);

        // height: var(--content_wrapper_slide_height);
        height: var(--slide_height);

        &-center {
          position: relative;
          flex: var(--center_flex);
          display: flex;
          height: var(--content_wrapper_slide_height);
          max-height: var(--content_wrapper_slide_height);

          &-middle {
            flex: 1;
            position: relative;
            height: var(--content_wrapper_slide_height);
            overflow-y: var(--slide_overflow_y);
            overflow-x: var(--slide_overflow_x);
          }
        }
      }
    }
  }
}
