.swiper-custom {
    /* Display & Box Model */
    width: 100%;
    height: 100%;

    :global {
        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            /* Display & Box Model */
            display: flex;
            align-items: center;
            justify-content: center;

            /* Typography */
            text-align: center;
            font-size: 18px;

            /* Visual */
            background: #fff;
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: #1976d2;
        }

        .swiper-pagination-bullet-active {
            background: #1976d2;
        }
    }
}