.directive_effects_page {
  &-banner {
    width: 100%;
    margin-bottom: 16px;
  }

  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    &-card {
      flex: 1;
      flex-basis: 200px;

      min-width: 200px;
    }
  }
}
