.go_top {
  // position: fixed;
  position: var(--go_top_position, fixed);
  left: var(--go_top_left);
  // right: 25px;
  right: var(--go_top_right);
  // bottom: -50px;
  bottom: var(--go_top_hidden_bottom);
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  border-radius: 100%;

  font-size: 60px;

  opacity: 0;
  background-color: #fff;
  transition: 0.3s;

  @include tablet {
    width: 30px;
    height: 30px;
    font-size: 30px;
  }

  &[css-is-show='true'] {
    opacity: 1;
    // bottom: 25px;
    bottom: var(--go_top_show_bottom);
  }

  &-btn {
    width: 100%;
    height: 100%;
  }
}
