@keyframes blink {
  0% {
    // border-left: 0px solid #000;
    opacity: 0;
  }
  25% {
    border-left: 1px solid #000;
    opacity: 1;
  }
  75% {
    border-left: 1px solid #000;
    opacity: 1;
  }
  100% {
    // border-left: 0px solid #000;
    opacity: 0;
  }
}

.animation_enter_label {
  --enter_label_anime: blink;
  // position: relative;

  &:after {
    content: '';

    // display: inline-block;
    // position: absolute;
    // top: 0px;
    // left: 0px;
    // width: 100%;
    // height: 100%;
    // border: 0px;

    animation: var(--animation_enter_label_anime) 1s infinite;
    // animation: blink 1s infinite;
    transition: none;
  }
}
