.about_page {
  max-width: 1200px;
  margin: 0 auto;

  &-banner {
    width: 100%;
    margin-bottom: 8px;
  }

  &-skeleton {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
  }

  &-error {
    margin: 16px 0;
  }

  &-section {
    margin-bottom: 2rem;

    &-sub_title {
      margin: 1.5rem 0 1rem;

      font-size: 1.8rem;
      color: #444;
    }

    &-description {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 1rem;

      line-height: 1.6;
      color: #666;
    }

    &-list {
      margin-bottom: 1rem;
      padding-left: 2rem;

      list-style-type: disc;

      &-item {
        margin-bottom: 0.5rem;

        line-height: 1.6;
        color: #666;
      }
    }
  }
}
