// https://www.cnblogs.com/weiqinl/p/7048205.html
.triangle_test_page {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &-cases_1 {
    width: 0px;
    height: 0px;
    border-color: rgb(255, 121, 121) rgb(147, 147, 255) rgb(147, 147, 255)
      rgb(255, 121, 121);
    border-width: 50px 50px 50px 50px;
    border-style: solid;
  }

  &-cases_2 {
    width: 0px;
    height: 0px;
    border-color: transparent rgb(255, 121, 121);
    border-width: 0px 0px 50px 50px;
    border-style: solid;
  }

  &-cases_3 {
    width: 0px;
    height: 0px;
    border-color: rgb(255, 121, 121) transparent;
    border-width: 0px 0px 50px 50px;
    border-style: solid;
  }

  &-cases_4 {
    width: 0px;
    height: 0px;
    border-color: rgb(255, 121, 121) transparent;
    border-width: 50px 50px 0px 0px;
    border-style: solid;
  }

  &-cases_5 {
    width: 0px;
    height: 0px;
    border-color: transparent rgb(255, 121, 121);
    border-width: 0px 50px 50px 0px;
    border-style: solid;
  }

  &-cases_6 {
    width: 0px;
    height: 0px;
    border-color: rgb(255, 121, 121) transparent;
    border-width: 0px 50px 50px 0px;
    border-style: solid;
  }

  &-cases_7 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }
}
