.web_cam_page {
  font-family: sans-serif;

  &-banner {
    /* Display & Box Model */
    width: 100%;
    height: auto;
    max-height: 400px;
    margin-bottom: 8px;

    /* Visual */
    object-fit: cover;
  }

  &-error {
    padding: 16px;
    margin: 16px 0;

    color: #721c24;

    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
  }

  &-video {
    display: none;
    width: 480px;
    height: 360px;
    max-width: 100%;
    max-height: 100%;

    object-fit: contain;
  }

  &-canvas {
    display: block;
    width: 480px;
    height: 360px;
    max-width: 100%;
    max-height: 100%;

    border: 1px solid #333;

    object-fit: contain;
  }
}
