.ripple_test_page {
    &_demos {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &_demo {
        padding: 16px;

        border: 1px solid #eee;
        border-radius: 8px;

        &_box {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 32px 16px;

            font-weight: 500;

            color: #333;

            background-color: #f5f5f5;
            border-radius: 8px;

            cursor: pointer;

            user-select: none;

            &--red {
                color: #fff;

                background-color: #ffcdd2;
            }

            &--blue {
                color: #fff;

                background-color: #bbdefb;
            }

            &--green {
                color: #fff;

                background-color: #c8e6c9;
            }

            &--disabled {
                color: #999;

                background-color: #eee;

                cursor: not-allowed;
            }
        }
    }
}