.ripple_test_page {
    &-demos {
        /* Display & Box Model */
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-demo {
            /* Display & Box Model */
            padding: 16px;

            /* Visual */
            border: 1px solid #eee;
            border-radius: 8px;

            &-box {
                /* Display & Box Model */
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 32px 16px;

                /* Typography */
                font-weight: 500;

                /* Visual */
                color: #333;
                background-color: #f5f5f5;
                border-radius: 8px;

                /* Misc */
                cursor: pointer;
                user-select: none;

                &[css-color='red'] {
                    /* Visual */
                    color: #fff;
                    background-color: #ffcdd2;
                }

                &[css-color='blue'] {
                    /* Visual */
                    color: #fff;
                    background-color: #bbdefb;
                }

                &[css-color='green'] {
                    /* Visual */
                    color: #fff;
                    background-color: #c8e6c9;
                }

                &[css-is-disabled='true'] {
                    /* Visual */
                    color: #999;
                    background-color: #eee;

                    /* Misc */
                    cursor: not-allowed;
                }
            }
        }
    }
}