// SlideInPanel Demo Page Styles
@use '@/styles/placeholders' as *;

.slide_in_panel_test_page {
  @extend %demo_page;

  &-description {
    @extend %demo_page-description;
  }

  &-section {
    @extend %demo_page-section;
  }

  &-button_group {
    @extend %demo_page-button_group;
  }

  &-button {
    /* Display & Box Model */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;

    /* Typography */
    color: white;

    /* Misc */
    cursor: pointer;

    &--success {
      background-color: #4caf50;
    }

    &--error {
      background-color: #f44336;
    }

    &--info {
      background-color: #2196f3;
    }

    &--warning {
      background-color: #ff9800;
    }
  }
}
