:root {
  --ripple-color: rgba(0, 0, 0, 0.3);
}

.ripple-container {
  position: relative;

  cursor: pointer;
}

.ripple-block {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;

  pointer-events: none;

  &-content {
    position: absolute;

    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;

    border-radius: 50%;

    background-color: var(--ripple-color);

    animation: ripple-animation 0.6s ease-out;
    opacity: 0;
  }
}

@keyframes ripple-animation {
  0% {
    opacity: 0.5;

    transform: scale(0);
  }
  100% {
    opacity: 0;

    transform: scale(4);
  }
}
