// SSE Room Post Page Styles
@use '@/styles/placeholders'as *;
@use '@/styles/mixin'as *;

.sse_room_post_page {
    @extend %test_page;

    &-controls {
        @extend %flex;
        @extend %flex_gap_16;
        @extend %flex_center;

        /* Display & Box Model */
        margin-bottom: 16px;
    }

    &-room_info {
        @extend %flex;
        @extend %flex_between;
        @extend %flex_center;
        @extend %flex_wrap;

        /* Display & Box Model */
        margin-bottom: 16px;
    }

    &-message_form {
        @extend %flex_row_gap_12;
    }

    &-message_list {
        @extend %message_list;

        &_item {
            @extend %message_list_item;
        }
    }

    // CSS Compliance Fix - Properly nested BEM classes using placeholders
    &-create_form {
        @extend %flex_row;
    }

    &-action_buttons {
        @extend %flex_row_gap_8;
    }

    &-messages {
        @extend %message_container;

        &_empty {
            @extend %message_empty_state;
        }

        &_item {
            @extend %message_item;
        }
    }
}