.notification_permission {
  background-color: #424242;
  color: #fff;
  padding: 8px;
  border-radius: 8px;

  &-content {
    width: 100%;
  }
  &-actions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
}
