.web_authn_page {
    &_banner {
        width: 100%;
        margin-bottom: 16px;
    }

    &_outbound_link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 8px;

        margin-bottom: 16px;

        a {
            color: var(--mui-palette-primary-main);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &_register,
    &_login {
        padding: 16px;
        margin-bottom: 16px;

        &_title {
            margin-bottom: 16px;
        }

        &_id,
        &_account,
        &_name {
            margin-bottom: 8px;
        }

        &_submit {
            margin-top: 16px;
            margin-bottom: 16px;

            text-align: center;
        }

        &_output_title {
            margin-top: 16px;
            margin-bottom: 8px;

            font-weight: 600;
        }

        &_output {
            max-width: 100%;
            max-height: 300px;
            padding: 12px;
            overflow: auto;

            background-color: #f5f5f5;
            border-radius: 4px;

            pre {
                margin: 0;

                font-size: 12px;
                white-space: pre-wrap;
                word-wrap: break-word;
            }
        }
    }
}