.socket_test_page {
  &-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;

    margin-bottom: 16px;

    a {
      color: var(--mui-palette-primary-main);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-banner {
    width: 100%;
    margin-bottom: 16px;
  }

  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    &-link {
      flex: 1;
      flex-basis: 200px;
      min-width: 200px;
    }
  }
}
